UseColor: true
Checks: >
    bugprone-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    google-*,
    hicpp-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -google-readability-todo,
    -cppcoreguidelines-macro-usage,
    -google-runtime-references,
    -hicpp-avoid-c-arrays,
    -hicpp-exception-baseclass,
    -hicpp-named-parameter,
    -hicpp-signed-bitwise,
    -hicpp-use-nullptr,
    -hicpp-vararg,
    -readability-container-data-pointer,
    -readability-function-cognitive-complexity,
    -readability-convert-member-functions-to-static,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
    -readability-magic-numbers,
    -readability-named-parameter,
    -used-but-marked-unused,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-prefer-member-initializer,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-type-union-access,
    -cppcoreguidelines-pro-type-vararg,
    -modernize-avoid-c-arrays,
    -modernize-use-nullptr,
    -performance-no-int-to-ptr,
    -bugprone-easily-swappable-parameters,
    -bugprone-sizeof-expression,
HeaderFilterRegex: ".*/(common|logging)/.*"
